@keyframes glow {
    0% {
      text-shadow: 0 0 15px #E0218A;
    }
    50% {
      text-shadow: 0 0 40px #E0218A;/* Increase the blur radius for a larger glow */
    }
    100% {
      text-shadow: 0 0 15px #E0218A;
    }
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .header {
    width: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    position: fixed;
    z-index: 1000;
    top: 0;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .nav-link {
    font-size: 2rem;
    color: #E0218A;
    font-family: "Anton Sc";
    transition: transform 0.5s, color 0.3s;
    text-decoration: none;
    margin-right: 20px; /* Adjust the space between navigation items */
  }
  
  .nav-link:last-child {
    margin-right: 0; /* Remove margin for the last item to avoid extra spacing at the end */
  }
  
  .nav-link:hover,
  .nav-link:focus {
    transform: translateY(-10px);
  }
  
  .home-logo img {
    width: 5rem;
    height: auto;
    transition: transform 0.3s ease-in;
  }
  
  .home-logo:hover img {
    transform: scale(1.3);
  }
  
  .hero {
    position: relative;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    margin-top: 80px; /* Adjust this value to account for the header height */
  }
  
  .title {
    font-family: "Anton Sc";
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 0.2rem;
    color: #ffffff;
    animation: glow 1.5s infinite ease-in-out;
    text-align: center;
    margin-top: 10px; /* Reduced margin */
    margin-bottom: -20px; /* Reduced margin */
    transition: transform 0.3s ease-in;
  }
  
  .title:hover {
    transform: translateY(-10px);
  }
  
  .subtitle {
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    letter-spacing: 0.05rem;
    color: #ffffff;
    text-align: center;
    margin-top: 5px; /* Reduced margin */
    margin-bottom: 5px; /* Reduced margin */
    transition: transform 0.3s ease-in;
    animation: glow 1.5s infinite ease-in-out;
  }
  
  .subtitle:hover {
    transform: translateY(-10px);
  }
  
  .description {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;    
    letter-spacing: 0.05rem;
    margin-top: -5px; /* Reduced margin */
    margin-bottom: 20px; /* Reduced margin */
    color: #ffffff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container1 {
    display: flex; /* Corrected from 'position: flex;' to 'display: flex;' */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #E0218A;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 0px;
    height: auto;
    /* Removed max-height to ensure content visibility */
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .content-containers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  
  .container3 {
    position: relative;
    z-index: 1;
    background-color: #E0218A;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 20px 10px; /* Adjusted to add space at the top */
    max-width: 30%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in;
  }
  
  
  .container3:hover {
    transform: translateY(-10px);
  }
  
  
  .container3 img{
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
  }
  
  @media (min-width: 768px) {
    .content-containers {
        flex-direction: row;
    }
  
  .container3{
        height: 500px; /* Adjust this value to set a longer height */
        
    }
  }